@use '../../assets/sass/variables' as *;

.counter {
    background-color: $color-white;
    color: $color-black;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    border-radius: 5px;
    font-size: $font-size-medium;

    &__header {
        font-size: 18px;
        padding: 10px;
        margin: 0px;
    }

    &__counter {
        padding: 0;
        margin: 0;
    }

    &__button {
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background-color: #3b3e79;
        color: white;
        margin: 10px;
    }
}