$color-black: #111111;
$color-white: #f6f6f6;
$color-primary: #FDCB6E;
$color-hover: #EAAF3B;
$color-green: #07911D;
$color-blue: #081f9f;
$color-red: #960d0d;

$font-main: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-size-large: 30px;
$font-size-medium: 20px;
$font-size-small: 16px;