$color-black: #111111;
$color-white: #f6f6f6;
$color-primary: #FDCB6E;

$font-main: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-size-large: 24px;
$font-size-medium: 20px;
$font-size-small: 16px;